body {
    background-color: grey;
}

header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.a {
    text-align: center;
}
.b {
    text-align: right;
}